.row {
  margin-left: 10px;
}

.movies_row {
  display: flex;
  overflow-x: scroll;
}

.movie {
  width: 100%;
  object-fit: contain;
  max-height: 170px;
  margin-right: 15px;
  transition: transform ease-in-out 450ms;
}

.movie:hover {
  transform: scale(1.05);
}

::-webkit-scrollbar {
  display: none;
}
